*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(64, 113, 211);
}
.container{
    border: 2px solid rgb(235, 136, 244);
    padding: 30px;
    margin: 200px auto;
    max-width: 600px;
    height: 260px;
    background-color: rgb(246, 9, 218);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
input{
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#btn{
    padding:10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
   border-radius: 5px;
}
p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}